<div class="full-book-modal">
  <div class="book-container">
    <div class="form-element ele1">
      <label for="text" style="color: brown">Book Name:</label>
      <input placeholder="Enter the book name to add" />
    </div>
    <div class="form-element">
      <label for="text" style="color: rgb(48, 14, 201)">Book Title:</label>
      <input placeholder="Enter the book title to add" />
    </div>
    <div class="form-element">
      <label for="text" style="color: rgb(58, 58, 4)">Short Description:</label>
      <input placeholder="Enter a description for the book" />
    </div>
    <div class="form-element">
      <label for="text" style="color: rgb(16, 85, 16)">Price:</label>
      <input placeholder="Enter the book price" />
    </div>
    <div class="form-element">
      <label for="text" style="color: rgb(3, 95, 64)">Quantity:</label>
      <input placeholder="Enter the book quantity" />
    </div>
    <div class="form-element">
      <label for="dropdown" style="color: rgb(78, 49, 5)"
        >Select a Author:</label
      >
      <select id="dropdown">
        <option *ngFor="let option of authorOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="form-element">
      <label for="dropdown" style="color: blueviolet">Select a Genre:</label>
      <select id="dropdown">
        <option *ngFor="let option of genreOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="form-element">
      <label for="dropdown" style="color: rgb(156, 71, 85)"
        >Select a Publisher:</label
      >
      <select id="dropdown">
        <option *ngFor="let option of publisherOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>
</div>
