<div class="modal-container" *ngIf="isOpen">
  <div class="modal-backdrop" (click)="onClose()"></div>
  <!-- Nền mờ -->
  <div class="modal">
    <div class="modal-header">
      <div class="p-css"><p class="centered-text">CREATE A BOOK HERE</p></div>
      <div>
        <button class="close-button" (click)="onClose()">&times;</button>
      </div>
    </div>
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
    <div class="button-modal">
      <button id="save" (click)="onSave()">Save</button>
      <button (click)="onClose()">Close</button>
    </div>
  </div>
</div>
